In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import random
import string
import hashlib

#Loading data
columns_name = ['id', 'date', 'latitude', 'longitude' ]
df = pd.read_csv('database', names = columns_name, sep = '\t')
anon = pd.read_csv('anonymise', names = columns_name, sep = '\t')

#df = anon.copy()
print(df.head())
print(anon.head())

   id                 date  latitude  longitude
0   1  2015-03-04 00:35:16  4.870147  45.772140
1   1  2015-03-04 00:35:48  4.870218  45.772095
2   1  2015-03-04 00:35:49  4.870210  45.772072
3   1  2015-03-04 00:35:50  4.870210  45.772072
4   1  2015-03-04 00:35:52  4.870210  45.772072
  id                 date  latitude  longitude
0  1  2015-03-04 00:06:00      4.87      45.77
1  1  2015-03-04 00:10:00      4.87      45.77
2  1  2015-03-04 00:40:00      4.87      45.77
3  1  2015-03-04 00:44:00      4.87      45.77
4  1  2015-03-04 00:07:00      4.87      45.77

In [198]:
test = pd.read_csv('test', names = columns_name, sep = '\t')

df['longitude'] = test['longitude']
df['latitude'] = test['latitude']

In [2]:
#Set up date and create column week

df['date'] = df['date'].str.slice(stop = 16)
df['date'] = pd.to_datetime(df['date'], format = "%Y-%m-%d %H:%M")

df['week'] = df['date'].dt.isocalendar().week
list_week = df["week"].unique()
print(list_week)

list_Id = np.sort(df.loc[df['id'] != 'DEL', "id"].unique().astype(int))
print(list_Id)

In [45]:
from scipy import stats
id_week = df.groupby('id')['week'].unique()
list_id_nega = df.loc[df['latitude'] < 0,'id'].unique()

list_id_week_nega = df.loc[df['latitude'] < 0].groupby(['id'])['week'].unique()

nega_lat = df.loc[df['latitude'] < 0].groupby(['id','week'])['latitude'].unique()#agg(pd.Series.mode)
#nega_lat = df.loc[df['latitude'] < 0].groupby(['latitude'])['longitude'].unique()
print(nega_lat)
#print(nega_lat[-40.11])
#print(nega_lat[1][16][-97.75])
count = df.loc[df['latitude'] == -3.86].groupby(['id','week'])['latitude'].count()
print(count)
#df.loc[df['latitude']==-3.86, 'latitude'] = -5.45
#nega_lat[1][16] = np.around(nega_lat[1][16], decimals=1)
#print(nega_long)
#for i in list_id_nega:
#    for w in list_id_week_nega[i]:
#        df.loc[(df.id ==i)&(df.week ==w)&(df.latitude<0),'latitude'] = nega_lat[i][w]

id   week
1    15      [-97.75]
     16      [-97.75]
     18       [-1.12]
     20       [-5.45]
4    20      [-17.45]
8    11        [-0.8]
     13       [-0.58]
     16       [-1.12]
11   10       [-0.57]
     11       [-0.57]
13   10       [-0.57]
14   10       [-0.57]
     11       [-0.57]
15   10       [-0.57]
16   10       [-0.57]
17   10       [-0.58]
     11       [-0.58]
21   10       [-0.57]
     11       [-0.57]
23   10       [-0.57]
24   14       [-1.67]
     15       [-1.67]
     17       [-0.57]
     19       [-0.57]
25   10       [-0.57]
31   12       [-1.12]
     13       [-1.12]
     14       [-1.12]
42   10      [-17.45]
50   11       [-5.45]
51   15       [-1.67]
59   14      [-17.45]
     18       [-5.45]
62   15       [-6.27]
     16       [-6.27]
73   10       [-0.58]
     11       [-0.58]
     12       [-0.58]
     13        [-0.8]
     14       [-1.61]
     15       [-1.61]
     17       [-1.61]
110  10       [-1.67]
Name: latitude, dtype: object
Series([], Name: latitude, dtype: int64)

In [202]:
#list_id_week_pos = df.loc[df['latitude'] > 0].groupby(['id'])['week'].unique()
#print(list_id_week_pos)

pos_lat = df.loc[(df['id'] !='DEL')&(df['latitude'] >= 0)].groupby(['id','week'])['latitude'].unique()#agg(pd.Series.mode)
print(pos_lat)
print(len(pos_lat))

#print(pos_lat[1][10])

id  week
1   10      [4.87, 4.88, 4.95, 4.96, 5.03, 5.04, 5.05, 5.0...
    11      [4.92, 4.93, 4.94, 4.88, 4.87, 4.86, 4.83, 4.8...
    12      [4.87, 4.88, 4.89, 4.9, 4.91, 4.86, 4.85, 4.84...
    13      [1.45, 1.46, 1.47, 1.48, 1.49, 1.5, 1.51, 1.52...
    14      [4.87, 4.88, 4.86, 4.85, 5.01, 6.29, 6.3, 4.84...
                                  ...
9   15                                           [4.84, 4.83]
    16                                                 [4.84]
    19                                                 [4.84]
98  10                   [4.88, 4.87, 4.86, 4.84, 4.85, 4.92]
    11                               [4.88, 2.38, 4.87, 4.83]
Name: latitude, Length: 447, dtype: object
447

In [201]:
test = df.loc[(df['id'] !='DEL')&(df['latitude'] >14)&(df['latitude']<=15)].groupby(['id','week'])['latitude'].unique()#agg(pd.Series.mode)
print(test)
print(test[0],test[1])

id  week
58  10      [14.42, 14.43, 14.49, 14.48, 14.47, 14.46, 14....
83  11      [14.99, 14.98, 14.97, 14.96, 14.95, 14.94, 14....
Name: latitude, dtype: object
[14.42 14.43 14.49 14.48 14.47 14.46 14.45 14.44 14.41 14.5  14.4 ] [14.99 14.98 14.97 14.96 14.95 14.94 14.93 14.92 14.91 14.9  14.89 14.88
 14.87 14.86 14.85 14.84 14.83 14.82 14.81 14.8  14.79 14.78 14.77 14.76
 14.75 14.74 14.73 14.72 14.71 14.7  14.69 14.68 14.67 14.66 14.65 14.64
 14.63 14.62 14.61 14.6  14.59 14.58 14.57 14.56 14.55 14.54 14.53 14.52
 14.51 14.5  14.49 14.48 14.47 14.46 14.45 14.44 14.43 14.42 14.41 14.4
 14.39 14.38 14.37 14.36 14.35 14.34 14.33 14.32 14.31 14.3  14.29 14.28
 14.27 14.26 14.25 14.24 14.23 14.22 14.21 14.2  14.19 14.18 14.17 14.16
 14.15 14.14 14.13 14.12 14.11 14.1  14.09 14.08 14.07 14.06 14.05 14.04
 14.03 14.02 14.01]

In [205]:
B = set()
for i in range(len(pos_lat)):
    A = set()
    for j in range(len(pos_lat)):
        if (j != i):
            for k in pos_lat[j]:
                A.add(k)
    for t in pos_lat[i]:
        if t not in A:
            B.add(t)
B = list(B)
B.sort()
print(B)
print(len(B))

l = [14.42, 14.43, 14.49, 14.48, 14.47, 14.46, 14.45, 14.44, 14.41, 14.5,  14.4 ]
X = []
k = 0
for i in range(len(B)):
    if (14<=B[i]<15):
        k+=1
        B[i] = np.random.choice([14.42, 14.43, 14.49, 14.48, 14.47, 14.46, 14.45, 14.44, 14.41, 14.5,  14.4 ])
        X.append(B[i])
print(k)
print(len(X))

[6.95, 7.07, 7.12, 7.14, 7.15, 7.66, 7.67, 7.68, 7.98, 7.99, 8.0, 8.01, 8.02, 8.03, 8.04, 8.05, 8.06, 8.07, 8.08, 8.09, 8.1, 8.11, 8.12, 8.13, 8.14, 8.15, 8.16, 8.17, 8.18, 8.19, 8.2, 8.21, 8.22, 8.23, 8.24, 8.25, 8.26, 8.27, 8.28, 8.29, 8.3, 8.31, 8.32, 8.33, 8.34, 8.35, 8.36, 8.37, 8.38, 8.39, 8.4, 8.41, 8.42, 8.43, 8.44, 8.45, 8.46, 8.47, 8.48, 8.49, 8.5, 8.51, 8.52, 8.53, 8.54, 8.55, 8.79, 8.8, 8.81, 8.82, 8.83, 8.84, 8.85, 8.86, 8.87, 8.88, 8.89, 8.9, 8.91, 8.92, 8.93, 8.94, 8.95, 8.96, 8.97, 8.98, 8.99, 9.0, 9.01, 9.02, 9.03, 9.04, 9.05, 9.06, 9.07, 9.08, 9.09, 9.1, 9.11, 9.12, 9.13, 9.14, 9.4, 9.41, 9.42, 9.43, 9.62, 9.63, 9.64, 9.71, 9.72, 9.73, 9.74, 9.75, 9.76, 9.77, 9.78, 9.79, 9.8, 9.81, 9.82, 9.83, 9.84, 9.85, 9.86, 9.87, 9.88, 9.89, 9.9, 9.91, 9.92, 9.93, 9.94, 9.95, 9.96, 9.97, 9.98, 9.99, 11.01, 11.02, 11.03, 11.04, 11.05, 11.06, 11.07, 11.08, 11.09, 11.1, 11.11, 11.12, 11.13, 11.14, 11.15, 11.16, 11.17, 11.18, 11.19, 11.2, 11.21, 11.22, 11.23, 11.24, 11.25, 11.26, 11.27, 11.28, 11.29, 11.3, 11.31, 11.34, 11.35, 11.36, 11.56, 11.58, 11.59, 11.6, 11.61, 11.62, 12.06, 12.07, 12.08, 12.09, 12.1, 12.11, 12.12, 12.13, 12.14, 12.15, 12.16, 12.17, 12.18, 12.19, 12.2, 12.21, 12.22, 12.23, 12.24, 12.25, 12.26, 12.27, 12.28, 12.29, 12.3, 12.31, 12.32, 12.33, 12.34, 12.35, 12.36, 12.37, 12.38, 12.39, 12.4, 12.41, 12.42, 12.43, 12.44, 12.45, 12.46, 12.47, 12.48, 12.49, 12.5, 12.51, 12.52, 12.53, 12.54, 12.55, 12.56, 12.57, 12.58, 12.59, 12.6, 12.61, 12.62, 12.63, 12.64, 12.65, 12.66, 12.67, 12.68, 12.69, 12.7, 12.71, 12.72, 12.73, 12.74, 12.75, 12.76, 12.77, 12.78, 12.79, 12.8, 12.81, 12.82, 12.83, 12.84, 12.85, 12.86, 12.87, 12.88, 12.89, 12.9, 12.91, 12.92, 12.93, 12.94, 12.95, 12.96, 12.97, 12.98, 12.99, 13.0, 13.01, 13.02, 13.03, 13.04, 13.05, 13.41, 13.42, 13.43, 13.44, 13.45, 13.46, 13.47, 13.48, 13.49, 13.5, 13.51, 13.52, 13.53, 13.54, 13.55, 13.56, 13.57, 13.58, 13.59, 13.6, 13.61, 13.62, 13.63, 13.64, 13.65, 13.66, 13.67, 13.68, 13.69, 13.7, 13.71, 13.72, 13.73, 13.74, 13.75, 13.76, 13.77, 13.78, 13.79, 13.8, 13.81, 13.82, 13.83, 13.84, 13.85, 13.86, 13.87, 13.88, 13.89, 13.9, 13.91, 13.92, 13.93, 13.94, 13.95, 13.96, 13.97, 13.98, 13.99, 14.0, 14.01, 14.02, 14.03, 14.04, 14.05, 14.06, 14.07, 14.08, 14.09, 14.1, 14.11, 14.12, 14.13, 14.14, 14.15, 14.16, 14.17, 14.18, 14.19, 14.2, 14.21, 14.22, 14.23, 14.24, 14.25, 14.26, 14.27, 14.28, 14.29, 14.3, 14.31, 14.32, 14.33, 14.34, 14.35, 14.36, 14.37, 14.38, 14.39, 14.51, 14.52, 14.53, 14.54, 14.55, 14.56, 14.57, 14.58, 14.59, 14.6, 14.61, 14.62, 14.63, 14.64, 14.65, 14.66, 14.67, 14.68, 14.69, 14.7, 14.71, 14.72, 14.73, 14.74, 14.75, 14.76, 14.77, 14.78, 14.79, 14.8, 14.81, 14.82, 14.83, 14.84, 14.85, 14.86, 14.87, 14.88, 14.89, 14.9, 14.91, 14.92, 14.93, 14.94, 14.95, 14.96, 14.97, 14.98, 14.99]
426
89
89

In [157]:
#list_id_week_pos = df.loc[df['longitude'] > 0].groupby(['id'])['week'].unique()
#print(list_id_week_pos)

pos_long = df.loc[(df['id'] !='DEL')&(df['longitude'] >= 0)].groupby(['id','week'])['longitude'].unique()#agg(pd.Series.mode)
print(pos_long)
print(len(pos_long))

id  week
1   10      [45.77, 45.78, 45.79, 45.74, 44.43, 45.82, 45....
    11      [45.36, 45.35, 45.34, 45.33, 45.32, 45.31, 45....
    12      [45.77, 45.78, 45.79, 45.76, 45.75, 45.74, 45....
    13      [43.58, 43.59, 43.57, 43.56, 43.55, 43.54, 43....
    14      [45.77, 45.78, 45.76, 45.75, 45.79, 46.34, 46....
                                  ...
9   15                                                [45.77]
    16                                                [45.77]
    19                                                [45.77]
98  10             [45.79, 45.78, 45.76, 45.75, 45.77, 45.53]
    11                    [45.79, 48.84, 45.78, 45.77, 45.76]
Name: longitude, Length: 449, dtype: object
449

In [156]:
test = df.loc[(df['id'] !='DEL')&(df['longitude'] >= 40)&(df['longitude'] <41)].groupby(['id','week'])['longitude'].count()#agg(pd.Series.mode)
print(test)
#print(test[0],test[1])

id  week
1   16        194
    18      18510
50  11          1
Name: longitude, dtype: int64

In [158]:
B = set()
for i in range(len(pos_long)):
    for j in pos_long[i]:
        B.add(j)
B = list(B)
B.sort()
print(B)
print(len(B))

[14.72, 30.26, 31.03, 34.02, 40.0, 40.01, 40.02, 40.03, 40.04, 40.05, 40.06, 40.07, 40.08, 40.09, 40.1, 40.11, 40.12, 40.13, 40.14, 40.15, 40.16, 40.17, 40.18, 40.19, 40.2, 40.21, 40.22, 40.23, 40.24, 40.25, 40.26, 40.27, 40.28, 40.29, 40.3, 40.31, 40.32, 40.33, 40.34, 40.35, 40.36, 40.37, 40.38, 40.39, 40.4, 40.41, 40.42, 40.43, 40.44, 40.45, 40.46, 40.47, 40.48, 40.49, 40.5, 40.51, 40.52, 40.53, 40.54, 40.55, 40.56, 40.57, 40.58, 40.59, 40.6, 40.61, 40.62, 40.63, 40.64, 40.65, 40.66, 40.67, 40.68, 40.69, 40.7, 40.71, 40.72, 40.78, 40.93, 40.94, 40.95, 40.96, 40.97, 40.98, 40.99, 41.0, 41.01, 41.02, 41.03, 41.04, 41.05, 41.06, 41.07, 41.08, 41.09, 41.1, 41.11, 41.12, 41.13, 41.14, 41.15, 41.16, 41.17, 41.18, 41.19, 41.2, 41.21, 41.22, 41.23, 41.24, 41.25, 41.26, 41.27, 41.28, 41.29, 41.3, 41.31, 41.32, 41.33, 41.34, 41.35, 41.36, 41.37, 41.38, 41.39, 41.4, 41.41, 41.42, 41.43, 41.44, 41.45, 41.46, 41.47, 41.48, 41.49, 41.5, 41.51, 41.52, 41.53, 41.54, 41.55, 41.56, 41.57, 41.58, 41.59, 41.6, 41.61, 41.62, 41.63, 41.64, 41.65, 41.66, 41.67, 41.68, 41.69, 41.7, 41.71, 41.72, 41.73, 41.74, 41.75, 41.76, 41.77, 41.78, 41.79, 41.8, 41.81, 41.82, 41.83, 41.84, 41.85, 41.86, 41.87, 41.88, 41.89, 41.9, 41.91, 41.92, 41.93, 41.94, 41.95, 41.96, 41.97, 41.98, 41.99, 42.0, 42.01, 42.02, 42.03, 42.04, 42.05, 42.06, 42.07, 42.08, 42.09, 42.1, 42.11, 42.12, 42.13, 42.14, 42.15, 42.16, 42.17, 42.18, 42.19, 42.2, 42.21, 42.22, 42.23, 42.24, 42.25, 42.26, 42.27, 42.28, 42.29, 42.3, 42.31, 42.32, 42.33, 42.34, 42.35, 42.36, 42.37, 42.38, 42.39, 42.4, 42.41, 42.42, 42.43, 42.44, 42.45, 42.46, 42.47, 42.48, 42.49, 42.5, 42.51, 42.52, 42.53, 42.54, 42.55, 42.56, 42.57, 42.58, 42.59, 42.6, 42.61, 42.62, 42.63, 42.64, 42.65, 42.66, 42.67, 42.68, 42.69, 42.7, 42.71, 42.72, 42.73, 42.74, 42.75, 42.76, 42.77, 42.78, 42.79, 42.8, 42.81, 42.82, 42.83, 42.84, 42.85, 42.86, 42.87, 42.88, 42.89, 42.9, 42.91, 42.92, 42.93, 42.94, 42.95, 42.96, 42.97, 42.98, 42.99, 43.0, 43.01, 43.02, 43.03, 43.04, 43.05, 43.06, 43.07, 43.08, 43.09, 43.1, 43.11, 43.12, 43.13, 43.14, 43.15, 43.16, 43.17, 43.18, 43.19, 43.2, 43.21, 43.22, 43.23, 43.24, 43.25, 43.26, 43.27, 43.28, 43.29, 43.3, 43.31, 43.32, 43.33, 43.34, 43.35, 43.36, 43.37, 43.38, 43.39, 43.4, 43.41, 43.42, 43.43, 43.44, 43.45, 43.46, 43.47, 43.48, 43.49, 43.5, 43.51, 43.52, 43.53, 43.54, 43.55, 43.56, 43.57, 43.58, 43.59, 43.6, 43.61, 43.62, 43.63, 43.64, 43.65, 43.66, 43.67, 43.68, 43.69, 43.7, 43.71, 43.72, 43.73, 43.74, 43.75, 43.76, 43.77, 43.78, 43.79, 43.8, 43.81, 43.82, 43.83, 43.84, 43.85, 43.86, 43.87, 43.88, 43.89, 43.9, 43.91, 43.92, 43.93, 43.94, 43.95, 43.96, 43.97, 43.98, 43.99, 44.0, 44.01, 44.02, 44.03, 44.04, 44.05, 44.06, 44.07, 44.08, 44.09, 44.1, 44.11, 44.12, 44.13, 44.14, 44.15, 44.16, 44.17, 44.18, 44.19, 44.2, 44.21, 44.22, 44.23, 44.24, 44.25, 44.26, 44.27, 44.28, 44.29, 44.3, 44.31, 44.32, 44.33, 44.34, 44.35, 44.36, 44.37, 44.38, 44.39, 44.4, 44.41, 44.42, 44.43, 44.44, 44.45, 44.46, 44.47, 44.48, 44.49, 44.5, 44.51, 44.52, 44.53, 44.54, 44.55, 44.56, 44.57, 44.58, 44.59, 44.6, 44.61, 44.62, 44.63, 44.64, 44.65, 44.66, 44.67, 44.68, 44.69, 44.7, 44.71, 44.72, 44.73, 44.74, 44.75, 44.76, 44.77, 44.78, 44.79, 44.8, 44.81, 44.82, 44.83, 44.84, 44.85, 44.86, 44.87, 44.88, 44.89, 44.9, 44.91, 44.92, 44.93, 44.94, 44.95, 44.96, 44.97, 44.98, 44.99, 45.0, 45.01, 45.02, 45.03, 45.04, 45.05, 45.06, 45.07, 45.08, 45.09, 45.1, 45.11, 45.12, 45.13, 45.14, 45.15, 45.16, 45.17, 45.18, 45.19, 45.2, 45.21, 45.22, 45.23, 45.24, 45.25, 45.26, 45.27, 45.28, 45.29, 45.3, 45.31, 45.32, 45.33, 45.34, 45.35, 45.36, 45.37, 45.38, 45.39, 45.4, 45.41, 45.42, 45.43, 45.44, 45.45, 45.46, 45.47, 45.48, 45.49, 45.5, 45.51, 45.52, 45.53, 45.54, 45.55, 45.56, 45.57, 45.58, 45.59, 45.6, 45.61, 45.62, 45.63, 45.64, 45.65, 45.66, 45.67, 45.68, 45.69, 45.7, 45.71, 45.72, 45.73, 45.74, 45.75, 45.76, 45.77, 45.78, 45.79, 45.8, 45.81, 45.82, 45.83, 45.84, 45.85, 45.86, 45.87, 45.88, 45.89, 45.9, 45.91, 45.92, 45.93, 45.94, 45.95, 45.96, 45.97, 45.98, 45.99, 46.0, 46.01, 46.02, 46.03, 46.04, 46.05, 46.06, 46.07, 46.08, 46.09, 46.1, 46.11, 46.12, 46.13, 46.14, 46.15, 46.16, 46.17, 46.18, 46.19, 46.2, 46.21, 46.22, 46.23, 46.24, 46.25, 46.26, 46.27, 46.28, 46.29, 46.3, 46.31, 46.32, 46.33, 46.34, 46.35, 46.36, 46.37, 46.38, 46.39, 46.4, 46.41, 46.42, 46.43, 46.44, 46.45, 46.46, 46.47, 46.48, 46.49, 46.5, 46.51, 46.52, 46.53, 46.54, 46.55, 46.56, 46.57, 46.58, 46.59, 46.6, 46.61, 46.62, 46.63, 46.64, 46.65, 46.66, 46.67, 46.68, 46.69, 46.7, 46.71, 46.72, 46.73, 46.74, 46.75, 46.76, 46.77, 46.78, 46.79, 46.8, 46.81, 46.82, 46.83, 46.84, 46.85, 46.86, 46.87, 46.88, 46.89, 46.9, 46.91, 46.92, 46.93, 46.94, 46.95, 46.96, 46.97, 46.98, 46.99, 47.0, 47.01, 47.02, 47.03, 47.04, 47.05, 47.06, 47.07, 47.08, 47.09, 47.1, 47.11, 47.12, 47.13, 47.14, 47.15, 47.16, 47.17, 47.18, 47.19, 47.2, 47.21, 47.22, 47.23, 47.24, 47.25, 47.26, 47.27, 47.28, 47.29, 47.3, 47.31, 47.32, 47.33, 47.34, 47.35, 47.36, 47.37, 47.38, 47.39, 47.4, 47.41, 47.42, 47.43, 47.44, 47.45, 47.46, 47.47, 47.48, 47.49, 47.5, 47.51, 47.52, 47.53, 47.54, 47.55, 47.56, 47.57, 47.58, 47.59, 47.6, 47.61, 47.62, 47.63, 47.64, 47.65, 47.66, 47.67, 47.68, 47.69, 47.7, 47.71, 47.72, 47.73, 47.74, 47.75, 47.76, 47.77, 47.78, 47.79, 47.8, 47.81, 47.82, 47.83, 47.84, 47.85, 47.86, 47.87, 47.88, 47.89, 47.9, 47.91, 47.92, 47.93, 47.94, 47.95, 47.96, 47.97, 47.98, 47.99, 48.0, 48.01, 48.02, 48.03, 48.04, 48.05, 48.06, 48.07, 48.08, 48.09, 48.1, 48.11, 48.12, 48.13, 48.14, 48.15, 48.16, 48.17, 48.18, 48.19, 48.2, 48.21, 48.22, 48.23, 48.24, 48.25, 48.26, 48.27, 48.28, 48.29, 48.3, 48.31, 48.32, 48.33, 48.34, 48.35, 48.36, 48.37, 48.38, 48.39, 48.4, 48.41, 48.42, 48.43, 48.44, 48.45, 48.46, 48.47, 48.48, 48.49, 48.5, 48.51, 48.52, 48.53, 48.54, 48.55, 48.56, 48.57, 48.58, 48.59, 48.6, 48.61, 48.62, 48.63, 48.64, 48.65, 48.66, 48.67, 48.68, 48.69, 48.7, 48.71, 48.72, 48.73, 48.74, 48.75, 48.76, 48.77, 48.78, 48.79, 48.8, 48.81, 48.82, 48.83, 48.84, 48.85, 48.86, 48.87, 48.88, 48.89, 48.9, 48.91, 48.92, 48.93, 48.94, 48.95, 48.96, 48.97, 48.98, 48.99, 49.0, 49.01, 49.02, 49.03, 49.04, 49.05, 49.06, 49.07, 49.08, 49.09, 49.1, 49.11, 49.12, 49.13, 49.14, 49.15, 49.16, 49.17, 49.18, 49.19, 49.2, 49.21, 49.22, 49.23, 49.24, 49.25, 49.26, 49.27, 49.28, 49.29, 49.3, 49.31, 49.32, 49.33, 49.34, 49.35, 49.36, 49.37, 49.38, 49.39, 49.4, 49.41, 49.42, 49.43, 49.44, 49.45, 49.46, 49.47, 49.48, 49.49, 49.5, 49.51, 49.52, 49.53, 49.54, 49.55, 49.56, 49.57, 49.58, 49.59, 49.6, 49.61, 49.62, 49.63, 49.64, 49.65, 49.66, 49.67, 49.68, 49.69, 49.7, 49.71, 49.72, 49.73, 49.74, 49.75, 49.76, 49.77, 49.78, 49.79, 49.8, 49.81, 49.82, 49.83, 49.84, 49.85, 49.86, 49.87, 49.88, 49.89, 49.9, 50.08, 50.09, 50.12, 50.13, 50.14, 50.15, 50.16, 50.17, 50.18, 50.19, 50.2, 50.21, 50.22, 50.23, 50.24, 50.25, 50.26, 50.27, 50.28, 50.29, 50.3, 50.31, 50.32, 50.33, 50.34, 50.35, 50.36, 50.37, 50.38, 50.39, 50.4, 50.41, 50.42, 50.43, 50.44, 50.45, 50.46, 50.47, 50.56, 50.57, 50.58, 50.61, 50.62, 50.69, 50.84, 53.35, 58.72, 58.76, 66.0, 66.01, 66.02, 66.03, 66.04, 66.05, 66.06, 66.07, 66.08, 66.48, 66.49, 66.5, 67.28, 67.29, 67.3, 67.31, 67.32, 67.33, 67.34, 67.35, 67.36, 67.4, 67.41, 67.42, 67.43, 67.44, 67.45, 67.46, 67.47, 67.48, 67.49, 67.5, 67.51, 67.52, 67.53, 67.54, 67.55, 67.56, 67.57, 67.58, 67.59, 67.6, 67.61, 67.62, 67.63, 67.64, 67.65, 67.66, 67.67, 67.68, 67.69, 67.7, 67.71, 67.72, 67.73, 67.74, 67.75, 67.76, 67.77, 67.78, 67.79, 67.8, 67.81, 67.82, 67.83, 67.84, 67.85, 67.86, 67.87, 67.88, 67.89]
1095

In [207]:
B = set()
for i in range(len(pos_long)):
    A = set()
    for j in range(len(pos_long)):
        if (j != i):
            for k in pos_long[j]:
                A.add(k)
    for t in pos_long[i]:
        if t not in A:
            B.add(t)
B = list(B)
B.sort()
print(B)
print(len(B))

[34.02, 40.0, 40.01, 40.02, 40.03, 40.04, 40.05, 40.06, 40.07, 40.08, 40.09, 40.1, 40.11, 40.12, 40.13, 40.14, 40.15, 40.16, 40.17, 40.18, 40.19, 40.2, 40.21, 40.22, 40.23, 40.24, 40.25, 40.26, 40.27, 40.28, 40.29, 40.3, 40.31, 40.32, 40.33, 40.34, 40.35, 40.36, 40.37, 40.38, 40.39, 40.4, 40.41, 40.42, 40.43, 40.44, 40.45, 40.46, 40.47, 40.48, 40.49, 40.5, 40.51, 40.52, 40.53, 40.54, 40.55, 40.56, 40.57, 40.58, 40.59, 40.6, 40.61, 40.62, 40.63, 40.65, 40.66, 40.67, 40.68, 40.69, 40.7, 40.71, 40.72, 40.78, 40.93, 40.94, 40.95, 40.96, 40.97, 40.98, 40.99, 41.0, 41.01, 41.02, 41.03, 41.04, 41.05, 41.06, 41.07, 41.08, 41.09, 41.1, 41.11, 41.12, 41.13, 41.14, 41.15, 41.16, 41.17, 41.18, 41.19, 41.2, 41.21, 41.22, 41.23, 41.24, 41.25, 41.26, 41.27, 41.28, 41.29, 41.3, 41.31, 41.32, 41.33, 41.34, 41.35, 41.36, 41.37, 41.43, 41.44, 41.45, 41.46, 41.47, 41.48, 41.49, 41.5, 41.51, 41.52, 41.53, 41.54, 41.55, 41.56, 41.57, 41.58, 41.59, 41.6, 41.61, 41.62, 41.63, 41.64, 41.65, 41.66, 41.67, 41.68, 41.91, 41.92, 41.93, 41.94, 41.95, 41.96, 41.97, 41.98, 41.99, 42.0, 42.01, 42.02, 42.03, 42.04, 42.05, 42.06, 42.07, 42.08, 42.09, 42.1, 42.11, 42.12, 42.2, 42.21, 42.22, 42.23, 42.24, 42.25, 42.26, 42.27, 42.28, 42.29, 42.3, 42.31, 42.32, 42.33, 42.34, 42.35, 50.08, 50.09, 50.12, 50.13, 50.14, 50.15, 50.21, 50.22, 50.23, 50.24, 50.25, 50.26, 50.27, 50.28, 50.29, 50.3, 50.31, 50.32, 50.33, 50.34, 50.35, 50.36, 50.37, 50.38, 50.39, 50.4, 50.41, 50.42, 50.43, 50.44, 50.45, 50.46, 50.47, 50.56, 50.57, 50.58, 50.61, 50.62, 50.69, 58.72, 58.76, 66.0, 66.01, 66.02, 66.03, 66.04, 66.05, 66.06, 66.07, 66.08, 66.48, 66.49, 66.5, 67.28, 67.29, 67.3, 67.31, 67.32, 67.33, 67.34, 67.35, 67.36, 67.4, 67.41, 67.42, 67.43, 67.44, 67.45, 67.46, 67.47, 67.48, 67.49, 67.5, 67.51, 67.52, 67.53, 67.54, 67.55, 67.56, 67.57, 67.58, 67.59, 67.6, 67.61, 67.62, 67.63, 67.64, 67.65, 67.66, 67.67, 67.68, 67.69, 67.7, 67.71, 67.72, 67.73, 67.74, 67.75, 67.76, 67.77, 67.78, 67.79, 67.8, 67.81, 67.82, 67.83, 67.84, 67.85, 67.86, 67.87, 67.88, 67.89]
295

In [50]:
x = df.loc[(df['id'] !='DEL')&(df['latitude'] == 0)].groupby(['id','week'])['latitude'].count()
print(x)
df.head()

Series([], Name: latitude, dtype: int64)

  id                date  latitude  longitude  week
0  1 2015-03-04 00:06:00      4.87      45.77    10
1  1 2015-03-04 00:10:00      4.87      45.77    10
2  1 2015-03-04 00:40:00      4.87      45.77    10
3  1 2015-03-04 00:44:00      4.87      45.77    10
4  1 2015-03-04 00:07:00      4.87      45.77    10

In [17]:
def myround(x, prec=2, base=.05):
    return round(base * round(float(x)/base),prec)

#df.loc[df.latitude > 0, 'latitude'] = df.loc[df.latitude > 0, 'latitude'].apply(myround)

In [24]:
df['latitude'] = anon['latitude']
df.head()

  id                date  latitude  longitude
0  1 2015-03-04 00:06:00      4.87      45.77
1  1 2015-03-04 00:10:00      4.87      45.77
2  1 2015-03-04 00:40:00      4.87      45.77
3  1 2015-03-04 00:44:00      4.87      45.77
4  1 2015-03-04 00:07:00      4.87      45.77

In [ ]:
df.loc[(4.82 <df.latitude)& (df.latitude< 4.88), 'latitude' ] = 4.85
df.loc[(4.87 <df.latitude)& (df.latitude< 4.93), 'latitude' ] = 4.9

In [103]:
count = df.loc[df['latitude'] > 0].groupby(['id','week'])['latitude'].count()
print(count)

id   week
1    10      44206
     11      32587
     12      40078
     13      70359
     14      72086
             ...
107  10       3215
     11       8388
     12      37157
110  10       8243
     11       8471
Name: latitude, Length: 447, dtype: int64

In [105]:
mean = df.groupby(['id','week'])['latitude'].mean()
print(mean)

id   week
1    10      4.827448
     11      4.876527
     12      3.317160
     13      4.411986
     14      4.875474
               ...
107  10      4.869421
     11      4.765566
     12      4.880000
110  10     -0.119961
     11      2.341967
Name: latitude, Length: 449, dtype: float64

In [97]:
print(id_week)

id
1      [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
2      [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
4      [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
5                                          [10, 11]
6                      [10, 11, 12, 13, 14, 15, 16]
                           ...
87                     [10, 11, 12, 16, 17, 18, 19]
89                                     [10, 11, 18]
98                                         [10, 11]
107                                    [10, 11, 12]
110                                        [10, 11]
Name: week, Length: 69, dtype: object

In [68]:
#Random minute
def random_minute(date):
    rand_min = random.randint(-29,29)
    return date - dt.timedelta(minutes=rand_min) if date.hour == (date - dt.timedelta(minutes=rand_min)).hour else date + dt.timedelta(minutes=rand_min)

#Change date to random (be the same week)
def change_date(date):
    rand_day = int(np.random.choice([0,1], p=[0.999, 0.001]))
    return date - dt.timedelta(days=rand_day) if date.isocalendar()[1] == (date - dt.timedelta(days=rand_day)).isocalendar()[1] else date + dt.timedelta(days=rand_day)

#Change latitude and longitude to mean
def change_lat_long(i,w,d,h):
    df['latitude']  = mean_lat[i][w][d][h]
    return df['latitude']

In [76]:
anon['latitude'] = df['latitude']
anon['date'] = pd.to_datetime(anon['date'], format = "%Y-%m-%d %H:%M")
anon['week'] = anon['date'].dt.isocalendar().week
nega_lat = anon.loc[df['latitude'] < 0].groupby(['id','week','latitude'])['longitude'].unique()

print(nega_lat)

id   week  latitude
1    15    -97.75      [45.77026, 45.77027, 45.77028, 45.76984, 45.76...
     16    -97.75      [30.27486, 30.27492, 30.27495, 30.27498, 30.27...
     18    -1.12       [45.77, 45.76999, 45.76998, 45.77005, 45.77006...
     20    -5.60       [48.84615, 48.84759, 48.8476, 48.84758, 48.847...
11   10    -0.56       [45.7858, 45.78578, 45.78586, 45.78576, 45.785...
                                             ...
DEL  18    -5.60       [45.75587, 45.75575, 45.75576, 45.75578, 45.75...
           -1.12       [45.77002, 45.77012, 45.77011, 45.77022, 45.77...
     19    -0.57       [45.78012, 45.78006, 45.78634, 45.78668, 45.78...
     20    -40.11      [45.75586, 45.75573, 45.75569, 45.7559, 45.755...
           -5.60       [48.84779, 48.84788, 48.84785, 48.84776, 48.84...
Name: longitude, Length: 76, dtype: object

In [46]:
df['day'] = df['date'].dt.day
day_id = df.groupby(['id','week'])['day'].unique()
A = {}
B = []
#print(day_id[1])
for i in list_Id:
        A[f"{i}"] = day_id[i]
        #B.append(len(day_id[i]))
#print(A)
#print(B)

In [92]:
#Create table id - week - count of original file--> count the number of lines in 'week' with 'id'
#Sort in ascending order
df_count_temp = df.groupby(['id','week']).size().reset_index(name='count').sort_values(by = ["count"])
df_count_id_week = df_count_temp.reset_index(drop=True)


print(df_count_id_week.head(50))

     id  week  count
0    13    20      2
1    34    12     14
2    26    15     19
3    44    13     49
4    36    18     57
5    39    18     68
6    18    20    157
7    77    20    195
8     2    20    366
9    98    10    444
10   27    15    568
11   17    19    571
12   83    16    578
13   58    19    722
14   18    10    923
15   71    14    988
16   63    12    989
17   71    15   1012
18   43    19   1053
19   63    10   1221
20   29    11   1251
21   78    17   1306
22   98    11   1791
23   31    16   1864
24   66    20   1911
25   32    19   1962
26   13    19   2067
27   18    18   2190
28   32    18   2660
29   66    16   2933
30   63    19   3006
31   87    17   3201
32  107    10   3215
33   38    12   3247
34   71    17   3327
35   87    16   3545
36   89    18   3586
37   51    20   3644
38    5    11   3772
39   71    13   3910
40   48    11   3940
41   63    18   4002
42   77    17   4044
43    7    16   4063
44   48    16   4099
45    5    10   4110
46   84    12   4396
47   17    14   4532
48   58    11   4945
49   26    16   5089

In [95]:
anon_count_temp = anon.loc[anon['id'] != "DEL"].groupby(['id','week']).size().reset_index(name='count').sort_values(by = ["count"])
anon_count_id_week = anon_count_temp.reset_index(drop=True)

print(anon_count_id_week.head(50))

     id  week  count
0    13    20      2
1    34    12     14
2    26    15     19
3    44    13     42
4    36    18     53
5    39    18     66
6    18    20    157
7    77    20    178
8    27    15    300
9     2    20    363
10   83    16    369
11   98    10    401
12   58    19    414
13   17    19    567
14   29    11    682
15   71    14    796
16   63    12    870
17   71    15    888
18   18    10    902
19   43    19   1005
20   63    10   1146
21   32    19   1186
22   98    11   1261
23   78    17   1277
24   87    17   1331
25   66    20   1445
26   31    16   1591
27   13    19   1813
28   87    16   1827
29   32    18   1953
30   18    18   1998
31   44    15   2116
32   63    19   2148
33   83    17   2166
34   66    16   2329
35  107    10   2528
36   71    17   2665
37   38    12   2723
38  110    11   3096
39   71    13   3140
40   63    18   3181
41   89    18   3242
42   84    12   3253
43   77    17   3275
44   51    20   3311
45    5    11   3315
46   52    14   3463
47   48    11   3739
48   16    12   3756
49    7    16   3771

In [96]:
id_week = df.groupby(['id'])['week'].unique()

print(list(id_week[1]))
dict_id_week_count = {}
l = len(df_count_id_week)
print(int(df_count_id_week.iloc[1].week) == int(anon_count_id_week.iloc[1].week))
print(df_count_id_week.iloc[1].week)
for i in range(l):
    anon_ids = []
    if (int(df_count_id_week.iloc[i].week) == int(anon_count_id_week.iloc[i].week)):
        anon_ids = int(df_count_id_week.iloc[i].id)
    else:
        if i > 2 and i < l-2:
            anon_ids = list(df_count_id_week.iloc[[i-2,i-1,i+1,i+2]].id) 
    dict_id_week_count[str(anon_count_id_week.iloc[i].id)]={'2015-'+ str(anon_count_id_week.iloc[i].week) : anon_ids }
print()
print(dict_id_week_count)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
True
12

{'13': {'2015-13': [36, 73, 65, 42]}, '34': {'2015-11': [78, 2, 21, 83]}, '26': {'2015-13': [62, 50, 72, 51]}, '44': {'2015-11': [14, 2, 42, 9]}, '36': {'2015-10': [72, 7, 62, 11]}, '39': {'2015-10': [32, 89, 78, 2]}, '18': {'2015-12': [18, 18, 41, 32]}, '77': {'2015-12': [6, 63, 52, 30]}, '27': {'2015-11': 27}, '2': {'2015-18': [50, 8, 6, 59]}, '83': {'2015-14': [9, 7, 50, 73]}, '98': {'2015-11': 98}, '58': {'2015-10': 58}, '17': {'2015-12': [62, 62, 4, 1]}, '29': {'2015-10': [29, 71, 30, 15]}, '71': {'2015-16': [44, 66, 13, 1]}, '63': {'2015-14': [63, 13, 30, 25]}, '43': {'2015-11': [42, 36, 50, 65]}, '32': {'2015-12': [32, 53, 30, 28]}, '78': {'2015-13': [66, 81, 23, 81]}, '87': {'2015-11': [44, 13, 69, 62]}, '66': {'2015-13': [52, 28, 1, 2]}, '31': {'2015-11': 8}, '107': {'2015-12': [18, 83, 32, 32]}, '38': {'2015-11': [53, 50, 81, 6]}, '110': {'2015-10': [1, 54, 68, 66]}, '89': {'2015-10': [1, 2, 17, 24]}, '84': {'2015-13': [68, 70, 29, 71]}, '51': {'2015-11': [81, 6, 6, 50]}, '5': {'2015-10': [26, 52, 77, 78]}, '52': {'2015-10': [42, 8, 2, 28]}, '48': {'2015-10': [83, 2, 37, 32]}, '16': {'2015-10': 35}, '7': {'2015-13': [38, 62, 17, 72]}, '30': {'2015-14': [81, 72, 41, 43]}, '68': {'2015-19': [13, 68, 49, 34]}, '35': {'2015-15': [35, 69, 75, 60]}, '65': {'2015-14': [2, 73, 81, 87]}, '70': {'2015-12': [49, 72, 39, 39]}, '73': {'2015-13': [69, 50, 87, 7]}, '49': {'2015-12': [26, 36, 17, 67]}, '41': {'2015-12': [41, 9, 51, 15]}, '8': {'2015-15': [50, 50, 4, 50]}, '75': {'2015-13': [69, 62, 67, 31]}, '9': {'2015-15': [69, 87, 42, 59]}, '42': {'2015-11': [4, 50, 4, 4]}, '21': {'2015-10': 59}, '54': {'2015-10': 28}, '1': {'2015-15': [26, 27, 62, 50]}, '55': {'2015-11': [13, 2, 69, 1]}, '6': {'2015-14': [59, 2, 62, 81]}, '67': {'2015-17': [28, 17, 36, 73]}, '15': {'2015-10': [8, 1, 2, 67]}, '53': {'2015-11': [4, 4, 42, 6]}, '24': {'2015-17': [72, 67, 1, 75]}, '72': {'2015-18': [50, 17, 51, 27]}, '25': {'2015-10': [75, 60, 107, 60]}, '62': {'2015-18': [65, 42, 59, 8]}, '37': {'2015-10': [27, 15, 87, 73]}, '60': {'2015-19': [69, 1, 59, 28]}, '59': {'2015-15': 1}, '50': {'2015-14': [50, 4, 4, 27]}, '28': {'2015-11': [7, 55, 11, 72]}, '69': {'2015-19': [59, 6, 50, 69]}, '4': {'2015-18': []}, '23': {'2015-10': [30, 51, 52, 28]}, '81': {'2015-15': [50, 69, 50, 4]}, '14': {'2015-10': [59, 50, 2, 27]}, '11': {'2015-10': [6, 4, 62, 69]}}

In [ ]:
#Methods

#Random minute
def random_minute(date):
    rand_min = random.randint(1,30)
    return date - dt.timedelta(minutes=rand_min) if date.hour == (date - dt.timedelta(minutes=rand_min)).hour else date + dt.timedelta(days=rand_min)

#Change date to random (be the same week)
def change_date(date):
    rand_day = random.choice([1,-1])
    rand_min = random.randint(1,59)
    return date - dt.timedelta(days=rand_day)+dt.timedelta(minutes=rand_min) if date.isocalendar()[1] == (date - dt.timedelta(days=rand_day) +dt.timedelta(minutes=rand_min)).isocalendar()[1] else date + dt.timedelta(days=rand_day) +dt.timedelta(minutes=rand_min)

#Change latitude and longitude to mean
def change_lat_long():       
    df['latitude'] =  df['latitude'].mean()
    df['latitude'] = df['latitude'].round(decimals=2)
    df['longitude'] =  df['longitude'].mean()
    df['longitude'] = df['longitude'].round(decimals=2)

In [ ]:
df['date'] = df['date'].apply(change_date)

In [ ]:
df['date'] = df['date'].str.slice(stop = 16)
df['date'] = pd.to_datetime(df['date'], format = "%Y-%m-%d %H:%M")

In [ ]:
#Add random minute
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].apply(random_minute)

In [ ]:
#change_lat_long()
df['week'] = df['date'].dt.isocalendar().week
list_week = df["week"].unique()
#print(list_week)
id_week = pd.DataFrame(df.groupby(['id'])['week'].unique())
print(id_week)
#week_id = df.groupby(['week'])['id'].unique()

id_time = df.drop_duplicates( ['id', 'date'])
print(id_time.shape)

index_not_change = np.array(id_time.index)
print(len(index_not_change))

df.loc[~df.index.isin(index_not_change) , 'id'] = "DEL"

print(df.head())
#print(df.tail())
#print(week_id)

In [ ]:
#Apply change_date for the ids not DEL
df.loc[df['id'] != 'DEL', 'date'] = df.loc[df['id'] != 'DEL', 'date'].apply(change_date) 
#Check if the dates after change are in the same week with the origins
df['new_week'] = df['date'].dt.isocalendar().week
if not pd.Series(df['week'] == df['new_week']).all():
    raise Exception("Weeks must be the same")

#Set latitude and longitude to NaN for the rows with id = 'DEL'
df.loc[df['id'] == "DEL" , ('latitude', 'longitude')] = np.NaN   

print(df.head())

In [ ]:
#Pseudo id (random id ---> hash)
id_time['new_id'] =  str(random.randrange(1000, 1999)) + id_time['id'].astype(str) + id_time['week'].astype(str)

id_time['new_id'] = id_time['new_id'].apply(lambda x: hashlib.sha256(x.encode()).hexdigest())
df.loc[df['id'] != 'DEL', 'id'] = id_time['new_id']

print(df.head())

In [ ]:
print(df['id'][0])

df.loc[df['id'] == df['id'][0], 'id'].count()

In [46]:
anon['latitude'] = df['latitude']

In [48]:
anon['date'] = pd.to_datetime(anon['date'])
anon['week'] = anon['date'].dt.isocalendar().week
nega_lat = anon.loc[anon['latitude'] < 0].groupby(['id','week'])['latitude'].unique()
print(nega_lat)

id   week
1    15                           [-97.75]
     16                           [-97.75]
     18                            [-1.12]
     20                            [-5.45]
11   10                            [-0.57]
     11                            [-0.57]
110  10                            [-1.67]
13   10                            [-0.57]
14   10                            [-0.57]
     11                            [-0.57]
15   10                            [-0.57]
16   10                            [-0.57]
17   10                            [-0.58]
     11                            [-0.58]
21   10                            [-0.57]
     11                            [-0.57]
23   10                            [-0.57]
24   14                            [-1.67]
     15                            [-1.67]
     17                            [-0.57]
     19                            [-0.57]
25   10                            [-0.57]
31   12                            [-1.12]
     13                            [-1.12]
     14                            [-1.12]
4    20                           [-17.45]
42   10                           [-17.45]
50   11                            [-5.45]
51   15                            [-1.67]
59   14                           [-17.45]
     18                            [-5.45]
62   15                            [-6.27]
     16                            [-6.27]
73   10                            [-0.58]
     11                            [-0.58]
     12                            [-0.58]
     13                             [-0.8]
     14                            [-1.61]
     15                            [-1.61]
     17                            [-1.61]
8    11                             [-0.8]
     13                            [-0.58]
     16                            [-1.12]
DEL  10              [-0.57, -0.58, -1.67]
     11               [-0.57, -0.8, -0.58]
     12                     [-1.12, -0.58]
     13               [-0.58, -1.12, -0.8]
     14              [-1.67, -1.12, -1.61]
     15      [-97.75, -1.67, -6.27, -1.61]
     16                    [-97.75, -6.27]
     17                     [-0.57, -1.61]
     18                            [-1.12]
     19                            [-0.57]
     20                           [-17.45]
Name: latitude, dtype: object

In [49]:
# Drop 2 columns 'week' and 'new_week'

anon.drop(['week'], inplace=True, axis=1)
#df.drop('new_week', inplace=True, axis=1)

In [ ]:
#Save file 
#df['date'] = df['date'].astype(str)
#change_lat_long()
anon.to_csv('anonymise',index = False, header=False, columns = None, sep='\t')
print(df.head())

In [170]:
df.drop(['week'], inplace=True, axis=1)
df.to_csv('test',index = False, header=False, columns = None, sep='\t')
print(df.head())

  id                date  latitude  longitude
0  1 2015-03-04 00:06:00      4.87      45.77
1  1 2015-03-04 00:10:00      4.87      45.77
2  1 2015-03-04 00:40:00      4.87      45.77
3  1 2015-03-04 00:44:00      4.87      45.77
4  1 2015-03-04 00:07:00      4.87      45.77

In [74]:
print(anon.head())

    id                date  latitude  longitude
0    1 2015-03-04 00:43:00      4.87   45.77214
1    1 2015-03-04 00:07:00      4.87   45.77210
2    1 2015-03-04 00:07:00      4.87   45.77207
3  DEL 2015-03-04 00:07:00      4.87   45.77207
4    1 2015-03-04 00:28:00      4.87   45.77207

In [ ]:
LENGTH_ID  = 5
def generate_random_id(id):
    letters = string.ascii_letters + "0123456789"
    return ''.join(random.choice(letters) for i in range(LENGTH_ID))

In [ ]:
id_week_reduce = id_time[['id', 'week']].copy()

id_week_reduce = id_week_reduce.drop_duplicates()

id_week_reduce['leng_new_id'] = 10
#id_week_reduce['new_id'] = id_week_reduce['leng_new_id'].apply(generate_random_id)


#df['anon_id'] = df[['id', 'week']].loc[df['id'] != 'DEL'].apply(lambda x: generate_random_id(*x), axis =1)

#df.loc[df['id'] != 'DEL']['new_id'] = str(random.randrange(1000000, 19999999)) + df.loc[df['id'] != 'DEL']['id'].astype(str) +  df.loc[df['id'] != 'DEL']['week'].astype(str)

print(id_week_reduce.shape)
print(id_week_reduce.head())
print(df.head())

In [ ]:
#List of ID 
column_list = df.columns.values.tolist()
print(column_list)